<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="../images/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>

</head>

<body>
    <div class="main-content">
        {{>headers}}
        <p >This site was created by <a class="about" href="https://www.github.com/skmobin">Mobin Shaikh</a>. It uses data from <a class="about" href="https://www.mapbox.com/">Mapbox</a> and <a class="about" href="https://openweathermap.org/">OpenWeathermap</a> API.</p>
        <img class="portrait" src="../images/p.jpg" alt="my image">
    </div>

    {{>footer}}
</body>

</html>